{{>admin/admin-sidebar}}

<div class="content">
    <div class="header-box">
        <h1 class="fs-4"><span class="text-black", style="font-weight: bold;">회원 관리</span></h1>
    </div>

    <hr class="h2-color mx-2">

    <div class="user-detail">
        <div class="col-md-4" style="float: none; margin:0 auto;">
            <form>
                <div class="form-group">
                    <label for="id">회원 번호</label>
                    <input type="text" class="form-control" id="id" value="{{userDetail.id}}" readonly>
                </div>
                <div class="form-group">
                    <label for="username">이름</label>
                    <input type="text" class="form-control" id="username" value="{{userDetail.username}}" readonly>
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="form-control" id="nickname" value="{{userDetail.nickname}}" readonly>
                </div>
                <div class="form-group">
                    <label for="githubemail">깃허브 이메일</label>
                    <input type="text" class="form-control" id="githubemail" value="{{userDetail.githubemail}}" readonly>
                </div>
                <div class="form-group">
                    <label for="blogaddress">블로그 주소</label>
                    <input type="text" class="form-control" id="blogaddress" value="{{userDetail.blogaddress}}" readonly>
                </div>
                <div class="form-group">
                    <label for="phonenumber">휴대폰 번호</label>
                    <input type="text" class="form-control" id="phonenumber" value="{{userDetail.phonenumber}}" readonly>
                </div>
                <div class="form-group">
                    <label for="aboutme">자기 소개</label>
                    <textarea class="form-control" id="aboutme" readonly>{{userDetail.aboutme}}</textarea>
                </div>
                <div class="form-group">
                    <label for="role">유저 권한</label>
                    <input type="text" class="form-control" id="role" value="{{userDetail.role}}" readonly>
                </div>
                <div class="form-group">
                    <label for="roleupdates">유저 권한 변경</label>
                    <select name="roleupdate" id="roleupdate">
                        <option value="{{userDetail.role.ADMIN}}">{{userDetail.role.ADMIN}}</option>
                        <option value="{{userDetail.role.GUEST}}">{{userDetail.role.GUEST}}</option>
                        <option value="{{userDetail.role.BAN}}">{{userDetail.role.BAN}}</option>
                        <option value="{{userDetail.role.MENTOR}}">{{userDetail.role.MENTOR}}</option>
                        <option value="{{userDetail.role.USER}}">{{userDetail.role.USER}}</option>
                    </select>
                </div>

            </form>
            <a href="/admin" role="button" class="btn btn-secondary">뒤로 가기</a>
            <button type="button" class="btn btn-primary" id="btn-role-update">등록</button>
        </div>
    </div>

</div>
</div>

{{>layout/footer}}