<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stfackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/5d3a6d8ba7.js" crossorigin="anonymous"></script>

<script src="/js/app/user.js"></script>
<script src="/js/app/message.js"></script>
<script src="/js/app/admin.js"></script>
<script src="/js/app/mentoring.js"></script>
</body>
</html>