<!DOCTYPE HTML>
<html>
<head>
    <title>Code hiker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .profile {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    </style>

</head>
<body>

<!--네비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Codehiker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">사이드 프로젝트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mentoring">멘토링</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#useName}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{useName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/logout">로그아웃</a>
                            {{#userdName}}
                            <a class="dropdown-item" href="/users/update">회원 정보 수정</a>
                            <a class="dropdown-item" href="/messages">메시지 보관함</a>
                            {{/userdName}}

                        </div>
                    </li>
                {{/useName}}
                {{^useName}}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">회원가입/로그인</a>
                    </li>
                {{/useName}}
            </ul>
        </div>
    </div>
</nav>

<!--회원가입/로그인 모달-->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">로그인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-grid gap-3 col-8 mx-auto">
                        <a href="/oauth2/authorization/google" class="btn btn-primary btn-lg" role="button">구글 계정으로 로그인하기</a>

                        <a href="/oauth2/authorization/naver" class="btn btn-success btn-lg" role="button">네이버 계정으로 로그인하기</a>


                        <a href="/oauth2/authorization/kakao" class="btn btn-warning btn-lg" role="button">카카오 계정으로 로그인하기</a>

                        <a href="/oauth2/authorization/github" class="btn btn-dark btn-lg" role="button">깃허브 계정으로 로그인하기</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>

            </div>
        </div>
    </div>
</div>
