{{>layout/header}}

<a href="/message/create" role="button" class="btn btn-primary">메시지 등록</a>
<a href="/message/receiver/read" role="button" class="btn btn-primary">받은 메시지</a>
<a href="/message/sender/read" role="button" class="btn btn-primary">보낸 메시지</a>

{{>layout/footer}}