{{>layout/header}}

<a href="/messages/create" role="button" class="btn btn-primary">메시지 등록</a>
<a href="/messages/receive/list" role="button" class="btn btn-primary">받은 메시지</a>
<a href="/messages/send/list" role="button" class="btn btn-primary">보낸 메시지</a>

{{>layout/footer}}